.header {
    background: $off-navy;
    margin-bottom: $rem-val*3;
    padding: $rem-val 0;
    color: white;
}

.header__title {
    font-size: $rem-val*2;
    margin: 0;
}

.header__subtitle {
    font-size: $rem-val;
    color: $off-sky;
    font-weight: 500;
    margin: 0;
}

@media (min-width: 45rem) {
    .header {
      margin-bottom: $rem-val*2.5;
    }
  }